<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<connectionStrings>
    <!--add name="connection_string" connectionString="server=WINDOWS-2UMBESH;integrated security=true;database=obs"/-->
    <add name="connection_string" connectionString="server=SREERAJ-PC;integrated security=true;database=obs"/>
	</connectionStrings>
</configuration>
